{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<h1>Your Account Details</h1>
<form method="post">
    {% csrf_token %}
    <table>
        <tr><th>Email:</th><td><input type="text" value="{{ user.email }}" readonly></td></tr>
        <tr><th>Date of Birth:</th><td><input type="date" value="{{ user.profile.date_of_birth }}" readonly></td></tr>
        <tr><th>Gender:</th><td><input type="text" value="{{ user.profile.get_gender_display }}" readonly></td></tr>
        <tr><th>Nickname:</th><td>{{ form.nickname }}</td></tr>
        <tr><th>Weight (kg):</th><td>{{ form.weight_kg }}</td></tr>
        <tr><th>Height (cm):</th><td>{{ form.height_cm }}</td></tr>
    </table>
    <button type="submit">Save Profile</button>
</form>
<a href="{% url 'my_app:home' %}">Return to Home</a>
{% endblock %}
