{% extends 'my_app/base.html' %}
{% load static %}
{% block title %}Login - My App{% endblock %}

{% block content %}
    <div class="login-container">
        <img src="{% static 'my_app/Ascend_Fitness.png' %}" alt="Logo">
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="login-actions">
                <input type="submit" value="Login" class="btn">
            </div>
            <div class="login-register-row" style="margin-top:8px;text-align:right;">
                <a href="{% url 'users:register' %}" class="btn secondary register-link">Register</a>
            </div>
        </form>
    </div>
{% endblock %}